* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  background-color: purple;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Times New Roman", Times, serif;
  border-bottom: 3px ridge;
  border-top: 3px ridge;
  color: white;
}

.navBar {
  color: white;
  font-size: larger;
  margin: 15px;
}
header {
  background-color: purple;
  text-align: center;
  padding: 10px;
  border-top: 3px ridge;
  border-bottom: 3px ridge;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.spread1 {
  border-radius: 20px;
  border: 2px solid;
  padding: 10px;
  box-shadow: 6px 4px 8px 4px;
  background-color: white;
  margin: auto;
  width: 80%;
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.a1 {
  font-weight: bold;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  height: auto;
}


nav a:hover {
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
}

.selected {
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
}

